/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/mleko/*.egg-info/
__pycache__/
.venv/*
.pytest_cache/
examples/data
examples/dev-*.ipynb
.DS_Store
/.autodoc
autodoc.config.json
.aider*
