# [{{ version.as_tag() }}](https://github.com/{{ context.repo_owner|urlencode }}/{{ context.repo_name|urlencode }}/releases/tag/{{ version.as_tag()|urlencode }}) ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% for commit_type, heading in (("breaking", "⛔️ BREAKING CHANGES"), ("feat", "✨ Features"), ("fix", "🐛 Bug Fixes"), ("perf", "🚀 Performance improvements"), ("refactor", "🛠️ Code Refactoring"), ("style", "🎨 Style"), ("docs", "📝 Documentation"), ("test", "🧪 Tests"), ("build", "🏗️ Build"), ("ci", "🤖 Continous Integration")) if commit_type in release["elements"] %}
## {{ heading }}

{% for commit in release["elements"][commit_type] -%}
- {% if commit.scope %}**{{ commit.scope }}:** {% endif %}{{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha|commit_hash_url }}))
{% endfor %}{% endfor %}
